{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Inner Page Breadcrumb -->
<section class="inner_page_breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 offset-xl-3 text-center">
				<div class="breadcrumb_content">
					<h4 class="breadcrumb_title">Cart</h4>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Cart</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Shop Checkouts Content -->
<section class="shop-checkouts">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-8 col-xl-8">
				<div class="cart_page_form">
					<form action="#">
						<table class="table table-responsive">
							<thead style="width: 100%;min-width: 100%;display: table;">
								<tr class="carttable_row">
									<th class="cartm_title">#</th>
									<th class="cartm_title">Course</th>
									<th class="cartm_title">Price</th>
									<th class="cartm_title">Overview</th>
								</tr>
							</thead>
							<tbody class="table_body">
								{% for order_item in order.items.all %}
								<tr>
									<td>{{forloop.counter}}</td>
									<th scope="row">
										<ul class="cart_list">
											<li class="list-inline-item pr15"><a
													href="{% url 'cart:remove_from_cart'  slug=order_item.item.slug %}"><img
														src="{% static 'images/shop/close.png' %}" alt="close.png"></a>
											</li>
											<li class="list-inline-item pr20"><a
													href="{% url 'courses:detail'  slug=order_item.item.slug %}"><img
														src="{{order_item.item.thumbnail.url}}"
														alt="{{order_item.item.title}}" width="120px" height="90px"></a>
											</li>
											<li class="list-inline-item"><a class="cart_title"
													href="{% url 'courses:detail'  slug=order_item.item.slug %}">{{order_item.item.title}}</a>
											</li>
										</ul>
									</th>
									<td>${{order_item.item.get_price}}</td>
									<td>{{order_item.item.overview|truncatechars:50}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</form>
				</div>
				<div class="checkout_form">
					<div class="checkout_coupon ui_kit_button">
						<form class="form-inline">
							<input class="form-control" type="search" placeholder="Coupon Code" aria-label="Search">
							<button type="button" class="btn btn2">Apply Coupon</button>
							<button type="button" class="btn btn3">Update Cart</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-xl-4">
				<div class="order_sidebar_widget mb30">
					<h4 class="title">Cart Totals</h4>
					<ul>
						<li class="subtitle">
							<p>Total <span class="float-right totals color-orose">${{order.get_total}}</span></p>
						</li>
					</ul>
				</div>
				<div class="ui_kit_button payment_widget_btn">
					<a href="{% url 'cart:payment' %}" type="button"
						class="btn dbxshad btn-lg btn-thm3 circle btn-block">Proceed To
						Checkout</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}