{% load static %}
<!-- Wrapper End -->
<script data-cfasync="false" src="{% static 'js/email-decode.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mmenu.all.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ace-responsive-menu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/isotop.js' %}"></script>
<script type="text/javascript" src="{% static 'js/snackbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/simplebar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scrollto.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-scrolltofixed-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.counterup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/progressbar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/timepicker.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM&amp;callback=initMap"
    type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/googlemaps1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/html5lightbox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>