{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
	.white-color {
		color: #fff;
	}
</style>

<!-- Inner Page Breadcrumb -->
<section class="inner_page_breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 offset-xl-3 text-center">
				<div class="breadcrumb_content">
					<h4 class="breadcrumb_title">{% if title %} {{title}} {% else %} Courses {% endif %}</h4>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Courses</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Our Team Members -->
<section class="our-team pb40">
	<div class="container">
		{{block.super}}
		<div class="row">
			<div class="col-md-12 col-lg-8 col-xl-9">
				<div class="row">
					<div class="col-xl-4">
						<div class="instructor_search_result style2">
							<p class="mt10 fz15"><span class="color-dark pr10">{% if paginator %} {{paginator.count}}
									{% else %} {{courses.count}} {% endif %} </span> results <span
									class="color-dark pr10">1,236</span> Video Tutorials</p>
						</div>
					</div>
					<div class="col-xl-8">
						<div class="candidate_revew_select style2 text-right mb25">
							<ul>
								<li class="list-inline-item">
									<select class="selectpicker show-tick">
										<option>Newly published</option>
										<option>Recent</option>
										<option>Old Review</option>
									</select>
								</li>
								<li class="list-inline-item">
									<div class="candidate_revew_search_box course mb30 fn-520">
										<form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
											<input class="form-control mr-sm-2" type="search"
												placeholder="Search our courses" aria-label="Search" name='q'>
											<button class="btn my-2 my-sm-0" type="submit"><span
													class="flaticon-magnifying-glass"></span></button>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					{% for course in courses %}
					<div class="col-lg-6 col-xl-4">
						<div class="top_courses">
							<div class="thumb">
								<a href="{{ course.get_absolute_url }}"><img class="img-whp"
										src="{{ course.thumbnail.url }}" alt="{{course.title}}"></a>
								<div class="overlay">
									{% if image.best_seller %}
									<div class="tag">Best Seller</div>
									{% endif %}
									<div class="icon"><a href="#" class="wishlist_btn"
											data-url="{% url 'courses:add_to_wishlist' slug=course.slug %}"><span
												class="fa fa-heart {% if course in request.user.wishlist.courses.all %} color-red {% else %} white-color {% endif %}"></span></a>
									</div>
									<a class="tc_preview_course" href="{{ course.get_absolute_url }}">Preview Course</a>
								</div>
							</div>
							<div class="details">
								<div class="tc_content">
									<p>{{course.author}}</p>
									<a href="{{ course.get_absolute_url }}">
										<h5>{{course.title}}</h5>
									</a>
									<ul class="tc_review">
										{% for _ in course.get_rates %}
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										{% endfor %}
										{% for _ in course.get_remainder %}
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"
													style="color: #b8b6b6;"></i></a></li>
										{% endfor %}
										<li class="list-inline-item"><a href="#">({{course.total_rates}})</a></li>
									</ul>
								</div>
								<div class="tc_footer">
									<ul class="tc_meta float-left">
										<li class="list-inline-item"><a href="#"><i class="flaticon-profile"></i></a>
										</li>
										<li class="list-inline-item"><a href="#">{{course.views}}</a></li>
										<li class="list-inline-item"><a href="#"><i class="flaticon-comment"></i></a>
										</li>
										<li class="list-inline-item"><a href="#">{{course.comments_count}}</a></li>
									</ul>
									<div class="tc_price float-right">${{course.price}}</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="col-lg-12">
						{% if paginator %}
						<div class="mbp_pagination">
							<ul class="page_navigation">
								{% if page_obj.has_previous %}
								<li class="page-item">
									<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
										aria-disabled="true"> <span class="flaticon-left-arrow"></span> Prev</a>
								</li>
								{% endif %}
								<li class="page-item active" aria-current="page">
									<a class="page-link" href="?page={{ page_obj.number }}"
										style="color: #fff;">{{ page_obj.number }} <span
											class="sr-only">(current)</span></a>
								</li>
								{% if page_obj.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next <span
											class="flaticon-right-arrow-1"></span></a>
								</li>
								{% endif %}
							</ul>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-xl-3">
				<div class="selected_filter_widget style2 mb30">
					<div id="accordion" class="panel-group">
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a href="#panelBodyfilter" class="accordion-toggle link fz20 mb15"
										data-toggle="collapse" data-parent="#accordion">Selected Filters</a>
								</h4>
							</div>
							<div id="panelBodyfilter" class="panel-collapse collapse show">
								<div class="panel-body">
									<div class="tags-bar style2">
										{% for cat in cats %}
										<a href="{{cat.get_absolute_url}}" style="display: inline-block;
										padding: 6px 21px;
										background: #e7e4e4;
										border-radius: 15px;"><span>{{cat.name}}</span></a>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="selected_filter_widget style2">
					<div id="accordion" class="panel-group">
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a href="#panelBodyAuthors" class="accordion-toggle link fz20 mb15"
										data-toggle="collapse" data-parent="#accordion">Author</a>
								</h4>
							</div>
							<div id="panelBodyAuthors" class="panel-collapse collapse show">
								<div class="panel-body">
									<div class="cl_skill_checkbox">
										<div class="content ui_kit_checkbox style2 text-left">
											{% for instructor in instructors %}
											<div class="custom-control custom-checkbox custom-checkbox-filter">
												<input type="checkbox" class="custom-control-input"
													id="customCheck{{instructor.id}}"
													onchange="filterInstructor('/search', '{{instructor.username}}');"
													{% if request.GET.search_instructor == instructor.username %}
													checked {% endif %}>
												<label class="custom-control-label" for="customCheck{{instructor.id}}"
													style="cursor: pointer;">{{instructor.username}}
													<span
														class="float-right">({{instructor.course_set.count}})</span></label>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="selected_filter_widget style2 mb30">
					<div id="accordion" class="panel-group">
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a href="#panelBodyPrice" class="accordion-toggle link fz20 mb15"
										data-toggle="collapse" data-parent="#accordion">Price</a>
								</h4>
							</div>
							<div id="panelBodyPrice" class="panel-collapse collapse show">
								<div class="panel-body">
									<div class="ui_kit_whitchbox">
										<div class="custom-control custom-switch">
											<input type="checkbox" class="custom-control-input" id="customSwitch1"
												onchange="filterPrice('/search', 'Paid');"
												{% if request.GET.price == "Paid" %} checked {% endif %}>>
											<label class="custom-control-label" for="customSwitch1"
												style="cursor: pointer;">Paid </label>
										</div>
										<div class="custom-control custom-switch">
											<input type="checkbox" class="custom-control-input" id="customSwitch2"
												onchange="filterPrice('/search', 'Free');"
												{% if request.GET.price == "Free" %} checked {% endif %}>>
											<label class="custom-control-label" for="customSwitch2"
												style="cursor: pointer;">Free</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="selected_filter_widget style2 mb30">
					<div id="accordion" class="panel-group">
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a href="#panelBodySkills" class="accordion-toggle link fz20 mb15"
										data-toggle="collapse" data-parent="#accordion">Skill level</a>
								</h4>
							</div>
							<div id="panelBodySkills" class="panel-collapse collapse show">
								<div class="panel-body">
									<div class="ui_kit_checkbox">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="customCheck99"
												onchange="filterSkill('/search', 'beginner');"
												{% if request.GET.skill_level == "Beginner" %} checked {% endif %}>
											<label class="custom-control-label" for="customCheck99"
												style="cursor: pointer;">Beginner <span
													class="float-right">({{beginner.count}})</span></label>
										</div>
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="customCheck98"
												onchange="filterSkill('/search', 'intermediate');"
												{% if request.GET.skill_level == "Intermediate" %} checked {% endif %}>
											<label class="custom-control-label" for="customCheck98"
												style="cursor: pointer;">Intermediate <span
													class="float-right">({{intermediate.count}})</span></label>
										</div>
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="customCheck97"
												onchange="filterSkill('/search', 'advanced');"
												{% if request.GET.skill_level == "Advanced" %} checked {% endif %}>
											<label class="custom-control-label" for="customCheck97"
												style="cursor: pointer;">Advanced <span
													class="float-right">({{advanced.count}})</span></label>
										</div>
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="customCheck96"
												onchange="filterSkill('/search', 'all');"
												{% if request.GET.skill_level == "All Level" %} checked {% endif %}>
											<label class="custom-control-label" for="customCheck96"
												style="cursor: pointer;">All Levels
												<span class="float-right">({{all.count}})</span></label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="selected_filter_widget style2">
					<span class="float-left"><img class="mr20" src="{% static 'images/resource/2.png' %}"
							alt="2.png"></span>
					<h4 class="mt15 fz20 fw500">Not sure?</h4>
					<br>
					<p>Every course comes with a 30-day money-back guarantee</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% block extraScript %}
<script>
	function filterInstructor(url, username) {
		window.location.href = url + '/?search_instructor=' + username;
	}

	function filterPrice(url, price) {
		window.location.href = url + '/?price=' + price;
	}

	function filterSkill(url, skill) {
		window.location.href = url + '/?skill_level=' + skill;
	}
</script>

{% endblock %}
{% endblock %}